
        <div class="rows portfolio-grid gallery-popup">

            <!-- TODO: Use that thumbnail-->
            <div class="portfolio-item photography creative">
                <div class="portfolio-box">
                    <div class="porfolio-popup wistia_embed lazy-video  popover=true popoverContent=link"  data-video="wistia_async_9b7u8m6ubm">
                        <div class="portfolio-image-wrap">
                            <img class="lazy"  data-src="assets/img/christine.png" data-srcset="assets/img/christine.png" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Christine</h5>
                                    <p>Brandeis School SF</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <!-- TODO: Should popup with Wistia video -->
            <!-- TODO: Use that thumbnail-->
            <div class="portfolio-item photography creative">
                <div class="portfolio-box">
                    <div class="porfolio-popup wistia_embed lazy-video  popover=true popoverContent=link" data-video="wistia_async_e1f9wpa1po">
                        <div class="portfolio-image-wrap">
                            <img class="lazy" data-src="assets/img/stacy.png" data-srcset="assets/img/stacy.png" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Stacy</h5>
                                    <p>Brandeis School SF</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <!-- End Portfolio Item -->

        </div>
