<footer id="footer" class="footer gray-bg">
    <div class="container text-center">
        <ul class="social mb-60 wow fadeInUp" data-wow-duration="1.5s">
            <li>
                <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul>
        <p class="copyright">
            <a class="copy-link scroll-top" href="">&copy; Apollo 2016</a><br />
            All Rights Reserved, Template by <a target="_blank" href="http://nileforest.com/"><b>nileforest</b></a>
        </p>
    </div>
</footer>
<!-- End Footer Section -->

</div>


{% include javascript.html %} 


 
 