---
layout: blog
---
<section id="inner-intro" class="inner-intro bg-image overlay-dark40 dark-bg parallax parallax-background2" data-background-img="{{site.url}}/assets/img/full/13.jpg">
  <div class="container">
      <div class="intro-content">
          <div class="intro-content-inner">
              <h1 class="">Blog</h1>
              <h5 class="alt-title intro-sub-title">Our Latest News</h5>
          </div>
      </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
      <div class="row">
          {% for post in paginator.posts %}
            <div class="col-md-4 col-sm-6 {% if post.video %} mb-30 {% else %} mb-45{% endif %}">
                <div class="blog-post">
                    {% if post.video %}
                      <div class="post-media">
                        <div class="fluid-width-video-wrapper lazy-iframe" style="padding-top: 56.2%;" data-iframe="{{ post.video }}"></div>
                      </div>
                    {% elsif post.slider-img %}
                      <div class="post-media">
                        <div class="owl-carousel post-carousel nf-carousel-theme white">
                          {% for slider in post.slider-img %}
                            <div class="item">
                                <img class="lazy" data-src="{{ slider.img | prepend: site.url }}" data-srcset="{{ slider.img | prepend: site.url }}" alt="slider-img" />
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    {% else %}
                      <div class="post-media">
                          <img class="lazy" alt="blog" data-src="{{ post.img | prepend: site.url }}" data-srcset="{{ post.img | prepend: site.url }}">
                      </div>
                    {% endif %}
                    <div class="post-meta">
                        <span>{{ post.author }},</span>
                        <span class="post-date">{{ post.date | date_to_string }}</span>
                    </div>
                    <div class="post-header">
                        <h4 class="alt-title"><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></h4>
                    </div>
                    <div class="post-entry">
                        <p>{{ post.description }}</p>
                    </div>
                    <div class="post-tag">
                      {% for item in (0..post.tags.size) %}{% unless forloop.last %}
                        <span><a href="#">{{ post.tags[item] }}</a></span>
                      {% endunless %}{% endfor %}
                    </div>
                </div>
            </div>
          {% endfor %} 
        </div>
        <div class="pagination-nav mt-60">
          <ul>
            {% if paginator.previous_page %}
              <li class="prev"><a href="{{ paginator.previous_page_path  | prepend: site.url}}"><i class="fa fa-angle-left"></i> Prev</a></li>
            {% endif %}
            {% if paginator.next_page %}
              <li class="next"><a href="{{ paginator.next_page_path | prepend: site.url }}">Next <i class="fa fa-angle-right"></i></a></li>
            {% endif %}
          </ul>
      </div>
      </div>
</section>



 