.exampl{
    display: flex;
    width: 100%;
    position: relative;
    padding-top: 140px;
    &_cont{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        &_title{
            font-family: $font-ubuntu;
            font-style: normal;
            font-weight: 900;
            font-size: 36px;
            line-height: 41px;
            text-align: center;
            color: $grey;
            margin-bottom: 24px;
        }
        &_paragraph{
            font-family: $font-lato ;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            color: $grey2;
            margin: 0;
        }
        &_list{
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 30px;
            padding-bottom: 55px;
            &_item{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;
                width: 100%;
                max-width: 370px;
                background: $white;
                border-radius: 5px;
                margin-top: 30px;
                padding-bottom: 80px;
                &_img{
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    border-radius: 10px;
                }
                &_abs{
                    position: absolute;
                    left: 0px;
                    bottom: 0;
                    width: 100%;
                    padding: 0 20px;
                    &_block{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        background-color: $white;
                        border-radius: 5px;
                        box-shadow: 0px 10px 30px $shadow-color;
                        border-radius: 10px;
                        padding: 23px 10px 27px;
                        &_title{
                            font-family: $font-ubuntu;
                            font-weight: bold;
                            font-size: 20px;
                            line-height: 23px;
                            text-align: center;
                            color: $grey;
                            margin-bottom: 20px;
                        }
                        &_link{
                            font-family: $font-lato;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 134.77%;
                            color: $yellow4;
                        }
                    }
                }
            }
        }
    }
}
.check{
    .exampl_cont_list{
        justify-content: flex-start;
    }
    .exampl_cont_list_item{
        margin-right: 15px;
    }
    
}

@media (max-width: 1280px) {
    .exampl_cont_list,
    .check .exampl_cont_list{
        justify-content: space-around;
    }   
}

@media (max-width: 575px) {
    .exampl_cont_title, .exampl_cont_paragraph{
        padding: 0 20px;
    }
    .exampl{
        padding-top: 50px;
    }
}


