---
layout: default
---


<div  itemprop="articleBody">
  {{ page.title }}
  {{ content }}
</div>

<div>
  {% if page.previous.url %}
    <a class="l-prev" href="{{ site.url }}{{page.previous.url}}">&laquo; Talk.CSS #{{ page.previous.meetup }}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="l-next" href="{{ site.url }}{{page.next.url}}">Talk.CSS #{{ page.next.meetup }} &raquo;</a>
  {% endif %}
</div>

{% if page.hascodepen %}
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
{% endif %}
