<section id="intro" class="intro bg-image" data-background-img="assets/img/full/youtube-bg.jpg">

    
    <div class="intro-media-wraper overlay-dark40">
        
        <div id="video" class="ytp-player" data-property="{videoURL:'https://www.youtube.com/watch?v=jHJKv2rBv8Q',containment:'#intro', showControls:false, autoPlay:true, loop:true, mute:true, startAt:6, opacity:1, addRaster:false, quality:'default'}"></div>
        
    </div>
 
    <div class="js-fullscreen-height dark-bg intro-caption-top container">
        <div class="intro-content">
            <div class="intro-content-inner">
                <div class="intro-play-icon">
                    <a class="video-popup" href="https://www.youtube.com/watch?v=jHJKv2rBv8Q">
                        <span class="play-icon-lg">
                            <i class="fa fa-play"></i>
                        </span>
                    </a>
                </div>
                <h1 class="intro-title mb-40">Galas At Home</h1>
                <h5 class="alt-title intro-sub-title">Turn Key Virtual Fundraiser</h5>
            </div>
        </div>
    </div>
   

</section> 

 
<section id="about" class="section-padding">
    <div class="container text-center mb-60">
        <h1>How we can help you</h1>
        <div class="embed-responsive embed-responsive-16by9">
          <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/z2P63etaJ10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
    </div>
</section>
 

<section id="testimonials" class="section-padding bg-image dark-bg pos-section overlay-dark" data-stellar-background-ratio="0.4" data-background-img="assets/img/full/15.jpg">
     
    <div class="page-triangle white-bg"></div>
    <div class="container">
        <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
            <div class="item">
                <div class="testimonial text-center max-width-700">
                    <div class="page-icon-sm"><i class="icon-quote"></i></div>
                    <h2>What People Say?</h2>
                    <p class="lead-lg">We got a lot of really great comments from our community about how exciting it was and how connected they felt to each other</p>
                    <h6 class="quote-author alt-title">Stacy Youkillis <span class="text-regular">( Development Director - Brandeis School )</span></h6>
                </div>
            </div>
            <div class="item">
                <div class="testimonial text-center max-width-700">
                    <div class="page-icon-sm"><i class="icon-quote"></i></div>
                    <h2>What People Say?</h2>
                    <p class="lead-lg">"You took so much off our plate so we could focus our efforts on getting more people to the event to raise more money"</p>
                    <h6 class="quote-author alt-title">Christine Tamez <span class="text-regular">( Development - Brandeis School )</span></h6>
                </div>
            </div>
        </div>
    </div>
</section>

<hr />

<section id="portfolio" class="section-padding">
    <div class="container text-center">
        <h1>Case Study Videos</h1>
        <p class="lead-lg max-width-700 mb-60">Check out what our clients have to say</p>
    </div>

    <!-- Portfolio -->
    <div class="container">

        <div class="rows portfolio-grid gallery-popup">

            <!-- TODO: Use that thumbnail-->
            <div class="portfolio-item photography creative">
                <div class="portfolio-box">
                    <div class="porfolio-popup wistia_embed  popover=true popoverContent=link">
                        <div class="portfolio-image-wrap">
                            <img class="lazy"  data-src="assets/img/portfolio/thumb/01.jpg" data-srcset="assets/img/portfolio/thumb/01.jpg" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Christine</h5>
                                    <p>Galas At Home</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <!-- <a class="porfolio-popup video-popup" href="https://quickjack.wistia.com/medias/9b7u8m6ubm" title="Portfolio Image 01">
                        <div class="portfolio-image-wrap">
                            <img class="lazy"  data-src="assets/img/portfolio/thumb/01.jpg" data-srcset="assets/img/portfolio/thumb/01.jpg" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Christine</h5>
                                    <p>Galas At Home</p>
                                </div>
                            </div>
                        </div>
                    </a> -->
                </div>
            </div>

            <!-- Portfolio Item -->
            <!-- TODO: Should popup with Wistia video -->
            <!-- TODO: Use that thumbnail-->
            <div class="portfolio-item photography creative">
                <div class="portfolio-box">
                    <div class="porfolio-popup wistia_embed  popover=true popoverContent=link">
                        <div class="portfolio-image-wrap">
                            <img class="lazy" data-src="assets/img/portfolio/thumb/01.jpg" data-srcset="assets/img/portfolio/thumb/01.jpg" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Stacy</h5>
                                    <p>Brandeis SF</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <!-- <a class="porfolio-popup video-popup" href="https://quickjack.wistia.com/medias/e1f9wpa1po" title="Portfolio Image 01">
                        <div class="portfolio-image-wrap">
                            <img class="lazy" data-src="assets/img/portfolio/thumb/01.jpg" data-srcset="assets/img/portfolio/thumb/01.jpg" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Stacy</h5>
                                    <p>Brandeis SF</p>
                                </div>
                            </div>
                        </div>
                    </a> -->
                </div>
            </div>
            <!-- End Portfolio Item -->

            <!-- Portfolio Item -->
            <!-- TODO: Should popup with Wistia video -->
            <!-- TODO: Use that thumbnail-->
            <!-- <div class="portfolio-item branding photography coffee">
                <div class="portfolio-box">
                    <a class="porfolio-popup gallery-popup-link" href="assets/img/portfolio/large/02.jpg" title="Portfolio Image 02">
                        <div class="portfolio-image-wrap">
                            <img class="lazy" data-src="assets/img/portfolio/thumb/02.jpg" data-srcset="assets/img/portfolio/thumb/02.jpg" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Helped us focus on the marketing</h5>
                                    <p>Brandeis SF</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div> -->
            <!-- End Portfolio Item -->


        </div>

    </div>
    <!-- End Portfolio -->

<!-- About Section -->
<section id="about" class="section-padding">
    <div class="container text-center mb-60">
        <h1>Official Cameo Impact Partner</h1>
        <p>We love incorporating memorable shoutouts from celebrities into your event. We partnered up with Cameo for preferrred pricing.</p>
          <img  data-src="assets/img/cameo.png" data-srcset="assets/img/cameo.png" class="img-fluid lazy"/>
    </div>
</section>
<!-- End About Section -->

    <div class="container mt-60">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="action-box-title">Like our Creative Projects?.</h3>
                <p class="action-box-content">classical Latin literature from 45 BC, making it over 2000 years old Richard McClintock The generated.</p>
            </div>
            <div class="col-sm-4 text-right">
                <a class="scroll-down btn btn-xlg btn-color-outline" href="https://calendly.com/galas-at-home/exploration">Free Exploration Call</a>
            </div>
        </div>
    </div>

</section>

<section id="portfolio" class="section-padding">
    <div class="container text-center">
        <h1>Our Portfolio</h1>
        <p class="lead-lg max-width-700 mb-60">Some of our events</p>
    </div>

    <!-- Portfolio -->
    <div class="container">

        <div class="rows portfolio-grid gallery-popup">

            <!-- Portfolio Item -->
            <div class="portfolio-item photography creative">
                <div class="portfolio-box">
                    <a class="porfolio-popup video-popup" href="https://www.youtube.com/watch?v=WAEdCEQGJT0" title="Portfolio Image 01">
                        <div class="portfolio-image-wrap">
                            <img class="lazy" data-src="assets/img/portfolio/thumb/01.jpg" data-srcset="assets/img/portfolio/thumb/01.jpg" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Brandeis SF</h5>
                                    <p>School</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- End Portfolio Item -->

            <!-- Portfolio Item -->
            <div class="portfolio-item branding photography coffee">
                <div class="portfolio-box">
                    <a class="porfolio-popup video-popup" href="https://www.youtube.com/watch?v=jRVywi42tmo" title="Portfolio Image 02">
                        <div class="portfolio-image-wrap">
                            <img class="lazy" data-src="assets/img/portfolio/thumb/02.jpg" data-srcset="assets/img/portfolio/thumb/02.jpg" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Urban School SF</h5>
                                    <p>School</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- End Portfolio Item -->

            <!-- Portfolio Item -->
            <div class="portfolio-item branding creative coffee">
                <div class="portfolio-box">
                     
                    <!-- <div class="porfolio-popup wistia_embed wistia_async_vbzba7dpvf  popover=true popoverContent=link" style="display:inline;position:relative">
                        <div class="portfolio-image-wrap">
                            <img class="lazy" data-src="assets/img/portfolio/thumb/03.jpg" data-srcset="assets/img/portfolio/thumb/03.jpg" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Opera Saratoga</h5>
                                    <p>Artistic Company</p>
                                </div>
                            </div>
                        </div> 
                    </div> -->
                    <a class="porfolio-popup video-popup" href="https://quickjack.wistia.com/medias/vbzba7dpvf?wvideo=vbzba7dpvf" title="Portfolio Image 03">
                        <div class="portfolio-image-wrap">
                            <img class="lazy" data-src="assets/img/portfolio/thumb/03.jpg" data-srcset="assets/img/portfolio/thumb/03.jpg" alt="" />
                            <video 
                                src="https://quickjack.wistia.com/medias/vbzba7dpvf?wvideo=vbzba7dpvf"
                            >
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Opera Saratoga</h5>
                                    <p>Artistic Company</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- End Portfolio Item -->

            <!-- Portfolio Item -->
            <div class="portfolio-item branding">
                <div class="portfolio-box">
                    <a class="porfolio-popup video-popup" href="https://www.youtube.com/watch?v=IVOhP69TpBs" title="Portfolio Image 04">
                        <div class="portfolio-image-wrap">
                            <img class="lazy" data-src="assets/img/portfolio/thumb/04.jpg" data-srcset="assets/img/portfolio/thumb/04.jpg" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">JVS</h5>
                                    <p>Panel Discussion</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- End Portfolio Item -->

            <!-- Portfolio Item -->
            <div class="portfolio-item branding photography coffee">
                <div class="portfolio-box">
                    <a class="porfolio-popup video-popup" href="https://www.youtube.com/watch?v=UN-evbPDOUo" title="Portfolio Image 05">
                        <div class="portfolio-image-wrap">
                            <img class="lazy" data-src="assets/img/portfolio/thumb/05.jpg" data-srcset="assets/img/portfolio/thumb/05.jpg" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Carlington Kombucha</h5>
                                    <p>Social Enterprise</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- End Portfolio Item -->

            <!-- Portfolio Item -->
            <div class="portfolio-item branding photography">
                <div class="portfolio-box">
                    <a class="porfolio-popup video-popup" href="https://youtu.be/7A_ohv_q2KA" title="Portfolio Image 05">
                        <div class="portfolio-image-wrap">
                            <img class="lazy" data-src="assets/img/portfolio/thumb/06.jpg" data-srcset="assets/img/portfolio/thumb/06.jpg" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Brandeis End of Year Gathering</h5>
                                    <p>School</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- End Portfolio Item -->
              <!-- Portfolio Item -->
              <div class="portfolio-item branding photography">
                <div class="portfolio-box">
                    <a class="porfolio-popup video-popup" href="https://www.youtube.com/watch?v=RHpM2T-XFKc" title="Portfolio Image 05">
                        <div class="portfolio-image-wrap">
                            <img class="lazy" data-src="assets/img/portfolio/thumb/06.jpg" data-srcset="assets/img/portfolio/thumb/06.jpg" alt="" />
                        </div>
                        <div class="portfolio-caption-mask">
                            <div class="portfolio-caption-text">
                                <div class="portfolio-caption-tb-cell">
                                    <h5 class="alt-title">Brandeis End of Year Gathering</h5>
                                    <p>School</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- End Portfolio Item -->

        </div>

    </div>
    <!-- End Portfolio -->

    <div class="container mt-60">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="action-box-title">Like our Creative Projects?.</h3>
                <p class="action-box-content">classical Latin literature from 45 BC, making it over 2000 years old Richard McClintock The generated.</p>
            </div>
            <div class="col-sm-4 text-right">
                <a class="scroll-down btn btn-xlg btn-color-outline" href="https://calendly.com/galas-at-home/exploration">Free Exploration Call</a>
            </div>
        </div>
    </div>

</section>
<!-- End Portfolio Section -->

<section id="about" class="section-padding">
            <div class="container text-center mb-60">
                <h1>Our Process</h1>
                <p class="lead-lg max-width-700">The Galas At Home process takes you from concept all the way to an event your donor base will love</p>
            </div>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3 content-box mb-sm-45">
                        <div class="alt-icon-top icon-gray">
                            <i class="icon-genius"></i>
                        </div>
                        <h4 class="alt-title">1. Creative Run of Show</h4>
                        <p>We start with one of two meetings where we work together on a run of show that communicates your story, is fun for your guests and resonates with your organizations culture. This is usually done with our lead producer, creative director and your dedicated event producer.</p>
                    </div>
                    <div class="col-md-3 content-box mb-sm-45">
                        <div class="alt-icon-top icon-gray">
                            <i class="icon-genius"></i>
                        </div>
                        <h4 class="alt-title">2. Event website</h4>
                        <p>Our auction manager creates an event website to collect registrations and/or sells tickets. All of this using your own branding.</p>
                    </div>
                    <div class="col-md-3 content-box mb-sm-45">
                        <div class="alt-icon-top icon-gray">
                            <i class="icon-tools"></i>
                        </div>
                        <h4 class="alt-title">3. Event Production</h4>
                        <p>With our event producer and technical director, we take care of all the small details leading up to your event including building your slides, organizing your dry runs, auction items, paddle raise, optimizing your videos for livestreaming and making sure all your speakers look good.</p>
                    </div>
                    <div class="col-md-3 content-box">
                        <div class="alt-icon-top icon-gray">
                            <i class="icon-camera"></i>
                        </div>
                        <h4 class="alt-title">4. The live event</h4>
                        <p>It's all hands on deck with our team managing your livestream, your giving/auction software and providing technical support in the live chat for any issues your guests might be having</p>
                    </div>
                </div>
            </div>
        </section>
<!-- Pricing Section -->
<section id="pricing" class="section-padding">
    <div class="container text-center">
        <h1 class="mb-60">Simple, Transparent Pricing</h1>
        <div class="row">
          <p>Tell us your vision and we make it happen</p>
        </div>
        <div class="row">

            <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.1s">
                <div class="pricing-box">
                    <div class="pricing-title">
                        <h5 class="alt-title">Professional Livestream Management</h5>
                        <h6 class="alt-title">Peace of mind for livestreaming your event</h5>
                    </div>
                    <div class="pricing-price">
                        <p>
                            <span class="pricing-price-lg">$3000</span>
                        </p>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li>Best practices consulting call</li>
                            <li>Up to 5 speakers and 3 pre-recorded videos</li>
                            <li>60 Minute Max</li>
                            <li>1 Dry-Run</li>
                        </ul>
                    </div>
                    <div class="pricing-button">
                        <a target="_blank" href="https://calendly.com/jevin/galas-at-home-exploration" class="btn btn-md btn-color-outline"><i class="fa fa-user left"></i>Free Exploration Call</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="pricing-box">
                    <div class="pricing-title">
                        <h5 class="alt-title">Premium Livestream Management</h5>
                        <h6 class="alt-title">For those looking for a highly polished, interactive and personal experience </h5>
                    </div>
                    <div class="pricing-price">
                        <p>
                            <span class="pricing-price-lg">$5000</span>
                        </p>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li>Dedicated Event Producer</li>
                            <li>Unlimited videos and speakers</li>
                            <li>60 Minute Max</li>
                            <li>Up to 3 dry-runs</li>
                            <li>Slides creation</li>
                            <li>Consulting with every speaker to optimize their video, audio, and lighting</li>
                        </ul>
                    </div>
                    <div class="pricing-button">
                        <a target="_blank" href="https://calendly.com/jevin/galas-at-home-exploration" class="btn btn-md btn-color-outline"><i class="fa fa-user left"></i>Free Exploration Call</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
                <div class="pricing-box">
                    <div class="pricing-title">
                        <h5 class="alt-title">Livestream and Giving Management</h5>
                        <h6 class="alt-title">For a turn-key solution. You just focus on marketing the event.</h5>
                    </div>
                    <div class="pricing-price">
                        <p>
                            <span class="pricing-price-lg">$7500</span>
                        </p>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li>Everything in "Premium Livestream Management" plus</li>
                            <li>Tech Support during the event</li>
                            <li>Registration setup/management</li>
                            <li>Event Website</li>
                            <li>Auctria License</li>
                            <li>Text to register and give</li>
                            <li>Live Auction and Paddle Raise management</li>
                        </ul>
                    </div>
                    <div class="pricing-button">
                        <a target="_blank" href="https://calendly.com/jevin/galas-at-home-exploration" class="btn btn-md btn-color-outline"><i class="fa fa-user left"></i>Free Exploration Call</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="rows mt-30">Have a question?, Please contact for more information. <a class="scroll-down color" href="#contact-us"><b>Contact us</b></a></div>
    </div>
</section>
<!-- End Pricing Section -->

<!-- Blog Section -->
<!-- TODO: Bring over old blog docs -->
<section id="blog" class="section-padding">
    <div class="container">

        <h1 class="mb-60 text-center">Best Practices Resources</h1>

        <div class="row">

            <div class="col-md-4 col-sm-6 mb-sm-30 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.1s">
                <!-- Post -->
                <div class="blog-post">
                    <div class="post-media">
                        <img class="lazy" data-src="assets/img/blog/01.jpg" data-srcset="assets/img/blog/01.jpg" alt="blog" />
                    </div>
                    <div class="post-meta">
                        <span>by <a>John Doe</a>,</span>
                        <span class="post-date">06 Jan 2016</span>
                    </div>
                    <div class="post-header">
                        <h4 class="alt-title"><a href="">We denounce with righteous the indignation and dislike</a></h4>
                    </div>
                    <div class="post-tag">
                        <span><a href="#">Branding</a></span>
                        <span><a href="#">Design</a></span>
                    </div>
                </div>
                <!-- End Post -->
            </div>

            <div class="col-md-4 col-sm-6 mb-sm-30 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                <!-- Post -->
                <div class="blog-post">
                    <div class="post-media">
                        <img class="lazy" data-src="assets/img/blog/02.jpg" data-srcset="assets/img/blog/02.jpg" alt="blog" />
                    </div>
                    <div class="post-meta">
                        <span>by <a>John Doe</a>,</span>
                        <span class="post-date">04 Jan 2016</span>
                    </div>
                    <div class="post-header">
                        <h4 class="alt-title"><a href="">that they cannot foresee the pain and trouble that are bound</a></h4>
                    </div>
                    <div class="post-tag">
                        <span><a href="#">Branding</a></span>
                        <span><a href="#">Photography</a></span>
                    </div>
                </div>
                <!-- End Post -->
            </div>

            <div class="col-md-4 col-sm-6 mb-sm-30 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.1s">
                <!-- Post -->
                <div class="blog-post">
                    <div class="post-media">
                        <img class="lazy" data-src="assets/img/blog/03.jpg" data-srcset="assets/img/blog/03.jpg" alt="blog" />
                    </div>
                    <div class="post-meta">
                        <span>by <a>John Doe</a>,</span>
                        <span class="post-date">01 Jan 2016</span>
                    </div>
                    <div class="post-header">
                        <h4 class="alt-title"><a href="">which is the same as saying from through shrinking toil...</a></h4>
                    </div>
                    <div class="post-tag">
                        <span><a href="#">Branding</a></span>
                        <span><a href="#">Image</a></span>
                    </div>
                </div>
                <!-- End Post -->
            </div>

        </div>

        <div class="rows text-center mt-60">
            <a href="#" class="link">View All Blog <i class="fa fa-angle-right right"></i></a>
        </div>

    </div>
</section>
<!-- End Blog Section -->

<!-- Newsletter Section -->
<section id="newsletter" class="section-padding gray-bg pos-section">
    <!-- page triangle shape -->
    <div class="page-triangle white-bg"></div>
    <!-- End page triangle shape -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <form id="subscribe-form" role="form" action="subscribe.php" method="post" novalidate="novalidate">
                    <h2 class="mb-30">Subscribe to Our Newsletter</h2>
                    <div class="form-field-wrapper">
                        <input type="text" class="newsletter-input input-lg mb-15 subscribe-form-control" placeholder="Name" name="subscribe-name" id="subscribe-name" />
                        <input type="email" class="newsletter-input input-lg form-full mb-15 subscribe-form-control required" placeholder="Email" name="subscribe-email" id="subscribe-email" aria-required="true" />
                        <button type="submit" class="btn btn-lg btn-black mb-15">Subscribe</button>
                    </div>
                    <p><i class="fa fa-info-circle"></i>&nbsp;Being the first to know always feels great, subscribe to be notifed.</p>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Newsletter Section -->

<!-- Contact Infobar Section -->
<section class="ptb-60 black-bg text-center dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 mb-sm-30">
                <div class="contact-info">
                    <div class="alt-icon-top alt-icon-color">
                        <i class="icon-phone"></i>
                    </div>
                    <p class="large">1-888-4MY-GALA</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 mb-sm-30">
                <div class="contact-info">
                    <div class="alt-icon-top alt-icon-color">
                        <i class="icon-envelope"></i>
                    </div>
                    <p class="large">hello@galasathome.com</p>
                </div>
            </div>
        </div>
    </div>
</section>