.footer{
    &_cont{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 23px 0 150px;
        &_logo{
            margin-right: 60px;
            img{
                width: 40px;
                height: auto;
            }
        }
        &_nav{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-grow: 1;
            &_list{
                display: flex;
                flex-direction: column;
                a{
                    font-family: $font-ubuntu;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    color: $grey;
                    margin-top: 15px;
                    &:nth-child(1){
                        font-size: 20px;
                        font-weight: 900;
                        margin: 10px 0 20px;
                    }
                }
            }
        }
        &_sozial{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex-grow: 1;
            margin-top: 10px;
            a{
                margin-right: 15px;
                &:nth-last-child(1){
                    margin-right: 0;
                }
            }
        }
    }
    &_row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 50px 0;
        p, a{
            font-family: $font-lato ;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            color: $grey2 ;
        }
        p{
            display: flex;
            flex-grow: 1;
        }
        a{
            margin-right: 15px;
            &:nth-last-child(1){
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer_cont{
        justify-content: space-around;
    }
    .footer_cont_sozial{
        flex-grow: 0;
        margin-top: 20px;
    }
    .footer_cont{
        padding: 0;
    }
}
@media (max-width: 575px) {
    .footer_cont, .footer_row{
        padding: 0 20px;
    }
    .footer_cont_nav_list{
        width: 50%;
    }
    .footer_row{
        flex-direction: column;
        align-items: center;
        margin: 35px 0;
    }
    .footer_row a{
        margin-right: 0;
    }
    .footer_cont_logo{
        margin-right: 0;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 20px;
    }
}