.header{
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  transition: 0.3s all;
  &.header-active{
    background-color: $white;
    box-shadow: 0px 4px 30px $shadow-color;
    .header_cont{
      padding: 5px 0;
    }
  }
  &_cont{
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 15px 0;
    transition: 0.3s all;
    &_logo{
      display: flex;
      img{
        width: 40px;
        height: auto;
      }
    }
    &_nav{
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      width: 100%;
      margin-left: 10px;
      ul{
        display: flex;
        flex-direction: row;
        li{
          display: inline-flex;
          position: relative;
          padding: 13px 15px;
          cursor: pointer;
          transition: 0.3s all;
          &:hover > ul{
            transform: scale(1);
            opacity: 1;
          }
          a{
            font-family: $font-lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $grey;
          }
          img{
            margin-left: 5px;
          }
          ul{
            display: flex;
            position: absolute;
            left: 0;
            top: 50px;
            background: $white;
            box-shadow: 0px 4px 30px $shadow-color;
            border-radius: 5px;
            transform:  scale(0);
            opacity: 0;
            transition: 0.3s opacity;
            &:before{
              bottom: 100%;
              left: 35px;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(136, 183, 213, 0);
              border-bottom-color: $white;
              border-width: 12px;
              margin-left: 0px;
            }
            li{
              display: flex;
              a{
                display: inline-flex;
                font-family: $font-lato;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: $grey ;
              }
            }
          }
          &:nth-child(1){
           ul{
              width: 525px;
              flex-direction: row;
              flex-wrap: wrap;
              padding: 17px 30px;
              box-sizing: content-box;
              li{
                display: inline-block;
                width: 50%;
                padding: 0;
                a{
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  padding: 13px 0;
                  img{
                    width: 24px;
                    height: auto;
                    margin: 0 16px 0 0;
                  }
                }
              }
           }    
          }
          &:nth-child(3){
            ul{
              padding: 30px;
              li{
                padding: 0;
                margin-right: 20px;
                &:nth-last-child(1){
                  margin-right: 0px;
                }
                a{
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  img{
                    margin: 0;
                    border-radius: 5px;
                  }
                  span{
                    margin-top: 10px;
                  }
                }
              }
            } 
          }   
        }
      }
    }
    &_right{
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      &_sign{
        font-family: $font-lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $grey;
        margin: 13px 20px;
      }
      &_free, &_free:active{
        display: flex;
        background-color: $yellow;
        border-radius: 3px;
        padding: 7px 20px 9px 20px;
        font-family: $font-lato;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $yellow3;
        margin: 8px 0 13px 0;
        transition: 0.3s all;
        &:hover, &:focus{
          background-color: $yellow2;
          box-shadow: 0px 7px 14px rgba(144, 144, 162, 0.32);
        }
      }
    }
  }
}




/*burger*/
.burder_cont{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.burger{
  float: right;
  cursor: pointer;
  width: 40px;
  height: 30px;
  margin-top: 9px;
  display: none;
  &:hover .burger-menu {
    background: -webkit-linear-gradient(left, $burger-color1 2%, $burger-color2 100%);
  }
  &:hover .burger-menu:last-child {
    width: 100%; 
  }
  &:hover .burger-menu:nth-child(2) {
    width: 100%;
    -webkit-transition-delay: 0.3s, 0.3s, 0s;
    -o-transition-delay: 0.3s, 0.3s, 0s;
    transition-delay: 0.3s, 0.3s, 0s; 
  }
  .burger-menu:last-child {
    width: 50%; 
  }
  .burger-menu:nth-child(2) {
    width: 75%;
    -webkit-transition-property: margin, height, width;
    -o-transition-property: margin, height, width;
    transition-property: margin, height, width;
    -webkit-transition-delay: 0.3s, 0.3s, 0s;
    -o-transition-delay: 0.3s, 0.3s, 0s;
    transition-delay: 0.3s, 0.3s, 0s;
    margin: 10px 0; 
  }
  .burger-menu {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, $burger-color1 2%, $burger-color2  100%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    float: right; 
  }
  &.opened{
    padding-top: 12px;
    .burger-menu{
      float: none;
      &:nth-child(1) {
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
        height: 3px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 100%; 
      }
      &:nth-child(2) {
        opacity: 0;
        height: 0;
        margin: -3px;
        width: 100%; 
      }
      &:last-child {
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
        height: 3px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 100%; 
      }
    }
  } 
}

/*burger*/


@media (max-width: 980px) {
  .burger{
    display: block;
  }
  .header{
    &.header-active{
      .header_cont_nav{
        top: 55px;
      }
    }
  }
  .header_cont_nav{
    display: none;
    width: auto;
    position: absolute;
    left: auto;
    right: 0;
    top: 70px;
    background-color: white;
    flex-direction: column;
    transition: 0.3s all;
    max-height: 340px;
    overflow-y: auto;
    ul{
      flex-direction: column;
      width: 220px;
      li{
        ul{
          display: none;
        }
      }
      li.sub-active{
        flex-direction: column;
        &:hover > ul{
          transform: scale(1);
          opacity: 1;
        }
        ul{
          display: flex;
          position: relative;
          width: auto;
          flex-direction: column;
          top: 10px;
          box-shadow: none;
          padding: 0px 15px;
          transform: scale(1);
          opacity: 1;
          li{
            width: 100%;
          }
        }
      }
      &:before{
        display: none;
      }
    }
    &.nav-active{
      display: flex;
    }
  }
  .header_cont_right{
    flex-direction: column;
    a{
      margin-bottom: 0;
    }
  }
}

@media (max-width: 575px) {
  .header_cont_nav, .header_cont_nav ul{
    width: 100%;
  }
  .header_cont_nav{
    border-bottom: 1px solid $white;
    box-shadow: 0px 4px 30px $shadow-color;
  }
}