$white             : #ffffff;
$burger-color1     : #fb1998;
$burger-color2     : #fd2552;
$grey              : #5E5E81;
$grey2             : #AEAEC1;
$grey3             : #E5E5F0;
$yellow            : #F5BB2F;
$yellow2           : #F1B219;
$yellow3           : #53341C;
$yellow4           : #F5AF07;
$yellow5           : #EFAF12;
$shadow-color      : rgba(0, 0, 0, 0.1);
$line              : linear-gradient(92.68deg, #FFE520 1.83%, #C60070 100%);
$button-shadow     : rgba(144, 144, 162, 0.32);

$font-lato  :  'Lato', sans-serif;
$font-ubuntu:  'Ubuntu', sans-serif;

